body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  padding: 20px;
  height: fit-content;
  position: relative;
}
.main {
  max-width: 800px;
  min-height: 600px;
  border: 1px solid rgb(107, 107, 107);
  display: flex;
  margin: 10px auto;
  border-radius: 20px;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
@media (max-width: 700px) {
  .main {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }
  .game {
    min-width: 70%;
  }
  .letter {
    font-size: 16px;
  }
  .attempts {
    font-size: 15px;
  }
}
.gallows {
  max-width: 360px;
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.word {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.gallows-wrapper {
  display: flex;
  min-width: 360px;
  width: 360px;
  height: 100%;
  justify-content: center;
  align-items: center;

  position: relative;
}

.gallows__img {
  width: 330px;
  height: auto;
  object-fit: cover;
}

.human__wrapper {
  width: 140px;
  max-width: 140px;
  height: auto;
  display: grid;
  gap: 1px;
  grid-template-columns: 1fr 5px 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    ". head ."
    "leftHand body rightHand"
    "leftLeg . rightLeg";
  position: absolute;
  top: 122px;
  left: 190px;
  transition: 0.5s;
}

.part__body {
  transition: 0.5s;
}
.head {
  grid-area: head;
  justify-self: center;
  align-self: end;
}
.leftHand {
  grid-area: leftHand;
  justify-self: end;
  align-self: start;
}
.body {
  grid-area: body;
  justify-self: center;
}
.rightHand {
  grid-area: rightHand;
}
.leftLeg {
  grid-area: leftLeg;
  justify-self: end;
  align-self: start;
}
.rightLeg {
  grid-area: rightLeg;
}

.keyboard {
  width: 100%;
  height: 50%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
  transition: 0.5s;
}

.keyboard__key {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  background: rgb(214, 214, 214);
  transition: 0.5s;
}

.keyboard__key:hover {
  background: rgb(136, 136, 136);
  /* box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.5); */
  transition: 0.5s;
}
/* .keyboard__key:active {
  background: rgb(161, 161, 161);
  transition: 0.3s;
} */

.keyboard__key-active {
  background: rgb(136, 136, 136);
  transition: 0.5s;
}

.human__hidden {
  opacity: 0;
}
.human__show {
  opacity: 1;
}

.hintElement {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.attempts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedWord {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.letter {
  width: 25px;
  height: 25px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 20px;
}
.letter-no-border {
  border-bottom: none;
  transition: 0.3s;
}

.title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
}
.modal__wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 1px solid black;
  border-radius: 10px;
  width: 250px;
  height: auto;
  max-width: 250px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: white;
  transition: 0.5s;
  position: fixed;
  top: 20%;
  z-index: 100;
}
.modalTitle {
  text-align: center;
}
.modal__message {
  text-align: center;
}
.button__new-game {
  text-align: center;
}

.button__new-game {
  width: 80px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  background: rgb(214, 214, 214);
  transition: 0.5s;
}

.button__new-game:hover {
  background: rgb(136, 136, 136);
  box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.button__new-game:active {
  background: rgb(161, 161, 161);
  transition: 0.3s;
}

