@media (max-width: 1400px) {
  .section__about{
    .about__pictures{
      flex-wrap: wrap;
    }
    
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header {
    .nav {
      display: none;
    }
    .menu__cup {
      .menu__link,
      img {
        display: none;
      }
      .burger {
        display: flex;
      }
    }
  }

  .section__enjoy {
    padding: 100px 60px 100px 60px;

    .enjoy__wrapper {
      .enjoy__button {
        gap: 8px;
        img {
          opacity: 1;
        }
        span {
          transform: translateX(0px);
        }
      }
    }
  }

  .section__favorite {
    .favorite__slider {
      .favorite__button-prev {
        margin: 0px;
      }

      .favorite__button-next {
        margin-right: 0px;
      }

      .favorite__slider-inner {
        height: auto;
        margin-top: 0px;
      }
    }
  }

  .section__about {
    .about__description {
      .mark__word {
        display: inline;
        position: static;
      }
    }
    .about__pictures {
      width: 100%;
        max-width: 688px;
      justify-content: center;
      flex-wrap: wrap;
      .about__pictures-column {
        align-items: center;
        width: 100%;
        max-width: 688px;
        .about-picture{
          width: 100%;
        max-width: 688px;
        }
        .about-picture-small {
          display: none;
        }
      }
    }
  }

  .section__mobile-app {
    flex-direction: column;
    .mobile__description {
      width: 100%;
      max-width: 688px;
    }
    .mobile__picure {
      margin-top: 100px;
    }
  }

  .footer {
    padding: 100px 60px;
    flex-direction: column;
    .footer__description {
      width: 100%;
      max-width: 568px;
    }
    .footer__contacts {
      margin-top: 100px;
      gap: 0;
      .footer__contacts-wrapper {
        margin-top: 41px;
        padding-bottom: 5px;
        justify-content: space-between;
        gap: 16px;
      }
    }
  }

  // menu
  .main {
    .main__title {
      width: 100%;
      max-width: 688px;
      .mark__word {
        display: inline;
      }
    }

    .main__tabs {
      gap: 14px;
    }

    .product__wrapper {
      width: 100%;
      max-width: 688px;
      padding: 0 14px;
      .product__card{
        width: 100%;
        max-width: 310px;
        min-height: 506px;
        .product__view{
          width: 100%;
        max-width: 310px;
        }
      }
      .product__card-hidden {
        display: none;
      }
    }
  }

  .button__refresh {
    display: flex;
  }
}

@media (max-width: 510px) {
  .container {
    max-width: 510px;
    padding: 20px 16px 40px 16px;
  }

  .section__enjoy {

    .enjoy__wrapper {

      .enjoy__title {
        font-size: 42px;
        .mark__word {
          font-weight: 600;
          line-height: 115%;
        }
      }
      .enjoy__description {

      }
    }
  }

  .section__mobile-app {

    .mobile__description {
      max-width: 430px;
      height: 380px;

      .mobile__title {
        font-size: 32px;
      }
      .mobile__apps {
        flex-direction: column;
        max-width: 200px;
        min-height: 148px;
        gap: 20px;
      }
    }
    .mobile__picure {
      margin-top: 40px;
      max-width: 100%;
      width: 430px;
      // height: 348px;
    }
  }
}

@media (max-width: 380px) {
  .container {
    max-width: 380px;
    padding: 20px 16px 40px 16px;
  }

  .section__enjoy {
    min-width: 348px;
    min-height: 552px;
    padding: 60px 16px 60px 16px;
    .enjoy__wrapper {
      min-width: 316px;
      min-height: 432px;
      .enjoy__title {
        font-size: 42px;
        font-weight: 600;
        line-height: 115%;
        .mark__word {
          font-weight: 600;
          line-height: 115%;
        }
      }
      .enjoy__description {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }

  //favorite

  .section__favorite {
    max-width: 348px;
    height: 696px;
    min-height: 696px;

    .favorite__title {
      font-size: 32px;
      .mark__word {
        position: static;
        display: inline;
      }
    }

    .favorite__slider {
      max-width: 348px;
      min-height: 532px;
      justify-content: center;

      .favorite__button-prev,
      .favorite__button-next {
        display: none;
      }

      .favorite__slider-inner {
        max-width: 348px;

        height: 532px;
        min-height: 532px;

        .favorite__slider-img {
          // margin-top: 40px;
          width: 100%;
          max-height: 348px;
        }
        .favorite__text-container {
          min-height: 164px;
        }
      }
    }
  }

  //about

  .section__about {
    .about__description {
      font-size: 32px;
    }

    .about__pictures {
      max-width: 348px;
      .about__pictures-column {
        max-width: 348px;
      }
    }
  }

  .section__mobile-app {
    max-width: 348px;

    .mobile__description {
      max-width: 348px;
      height: 380px;

      .mobile__title {
        font-size: 32px;
      }
      .mobile__apps {
        flex-direction: column;
        max-width: 200px;
        min-height: 148px;
        gap: 20px;
      }
    }
    .mobile__picure {
      margin-top: 40px;
      max-width: 100%;
      width: 348px;
      // height: 348px;
    }
  }

  .footer {
    max-width: 348px;
    height: 526px;
    min-height: 526px;
    padding: 60px 16px 60px 16px;

    .footer__description {
      max-width: 316px;
      min-height: auto;

      .footer__text {
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;

        .mark__word {
          display: inline;
          font-size: 32px;
          position: static;
        }
      }

      .footer__social {
        margin-top: 40px;
      }
    }

    .footer__contacts {
      margin-top: 40px;
    }
  }

  //menu

  .main {
    max-width: 348px;
    //min-height: ;
    .main__title {
      width: 100%;
      height: 120px;
      min-height: 120px;
      font-size: 32px;
      .mark__word {
        font-size: 32px;
        display: inline;
        position: static;
      }
    }

    .main__tabs {
      width: 345px;
      height: 46px;
      gap: 8px;
      margin-top: 40px;
    }
  }

  .product__wrapper {
    max-width: 348px;
    flex-direction: column;
  }
}


.section__mobile-app{
  .mobile__apps{
    .button__mobile-app {
      @media (hover: hover) {
        &:hover,
        &.hovered {
          background-color: #665f55;
          transition: 0.5s all;

          path {
            fill: #e1d4c9;
            stroke: #665f55;
            transition: 0.5s all;
          }

          .button__mobile-title,
          .button__mobile-platform {
            color: #e1d4c9;
            transition: 0.5s all;
          }
        }
      }
    }
  }
}

@media (max-width: 370px) {
.main{
  .main__tabs{
    width: 100%;
    max-width: 370px;
    flex-direction: column;
    height: 100%;
    min-height: 154px;
  }
}
}