@media (max-width: 1400px) {
  .section__about .about__pictures {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header .nav {
    display: none;
  }
  .header .menu__cup .menu__link,
  .header .menu__cup img {
    display: none;
  }
  .header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section__enjoy {
    padding: 100px 60px 100px 60px;
  }
  .section__enjoy .enjoy__wrapper .enjoy__button {
    gap: 8px;
  }
  .section__enjoy .enjoy__wrapper .enjoy__button img {
    opacity: 1;
  }
  .section__enjoy .enjoy__wrapper .enjoy__button span {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }
  .section__favorite .favorite__slider .favorite__button-prev {
    margin: 0px;
  }
  .section__favorite .favorite__slider .slider-window .slider-line .favorite__slider-inner {
    height: auto;
    margin-top: 0px;
  }
  .section__favorite .favorite__slider .favorite__button-next {
    margin-right: 0px;
  }
  .section__about .about__description .mark__word {
    display: inline;
    position: static;
  }
  .section__about .about__pictures {
    width: 100%;
    max-width: 688px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section__about .about__pictures .about__pictures-column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 688px;
  }
  .section__about .about__pictures .about__pictures-column .about-picture {
    width: 100%;
    max-width: 688px;
  }
  .section__about .about__pictures .about__pictures-column .about-picture-small {
    display: none;
  }
  .section__mobile-app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__mobile-app .mobile__description {
    width: 100%;
    max-width: 688px;
  }
  .section__mobile-app .mobile__picure {
    margin-top: 100px;
  }
  .footer {
    padding: 100px 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__description {
    width: 100%;
    max-width: 568px;
  }
  .footer .footer__contacts {
    margin-top: 100px;
    gap: 0;
  }
  .footer .footer__contacts .footer__contacts-wrapper {
    margin-top: 41px;
    padding-bottom: 5px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 16px;
  }
  .main .main__title {
    width: 100%;
    max-width: 688px;
  }
  .main .main__title .mark__word {
    display: inline;
  }
  .main .main__tabs {
    gap: 14px;
  }
  .main .product__wrapper {
    width: 100%;
    max-width: 688px;
    padding: 0 14px;
  }
  .main .product__wrapper .product__card {
    width: 100%;
    max-width: 310px;
    min-height: 506px;
  }
  .main .product__wrapper .product__card .product__view {
    width: 100%;
    max-width: 310px;
  }
  .main .product__wrapper .product__card-hidden {
    display: none;
  }
  .button__refresh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .modal .modal__wrapper {
    width: 100%;
    max-width: 688px;
    min-height: 626px;
  }
  .modal .modal__wrapper .modal__img {
    width: 56%;
    max-width: 310px;
    min-width: auto;
    width: 100%;
    min-width: 310px;
    max-height: 310px;
  }
  .modal .modal__wrapper .modal__content {
    width: 50%;
    min-height: 594px;
    gap: 20px;
  }
  .modal .modal__wrapper .modal__content .modal__choice .size__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 100px;
    gap: 6px;
  }
  .modal .modal__wrapper .modal__content .modal__info-btn {
    width: 100%;
  }
}
@media (max-width: 630px) {
  .modal .modal__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 510px) {
  .container {
    max-width: 510px;
    padding: 20px 16px 40px 16px;
  }
  .section__enjoy .enjoy__wrapper .enjoy__title {
    font-size: 42px;
  }
  .section__enjoy .enjoy__wrapper .enjoy__title .mark__word {
    font-weight: 600;
    line-height: 115%;
  }
  .section__mobile-app .mobile__description {
    max-width: 430px;
    height: 380px;
  }
  .section__mobile-app .mobile__description .mobile__title {
    font-size: 32px;
  }
  .section__mobile-app .mobile__description .mobile__apps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 200px;
    min-height: 148px;
    gap: 20px;
  }
  .section__mobile-app .mobile__picure {
    margin-top: 40px;
    max-width: 100%;
    width: 430px;
  }
}
@media (max-width: 380px) {
  .container {
    max-width: 380px;
    padding: 20px 16px 40px 16px;
  }
  .section__enjoy {
    min-width: 348px;
    min-height: 552px;
    padding: 60px 16px 60px 16px;
  }
  .section__enjoy .enjoy__wrapper {
    min-width: 316px;
    min-height: 432px;
  }
  .section__enjoy .enjoy__wrapper .enjoy__title {
    font-size: 42px;
    font-weight: 600;
    line-height: 115%;
  }
  .section__enjoy .enjoy__wrapper .enjoy__title .mark__word {
    font-weight: 600;
    line-height: 115%;
  }
  .section__enjoy .enjoy__wrapper .enjoy__description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .section__favorite {
    max-width: 348px;
    height: 696px;
    min-height: 696px;
  }
  .section__favorite .favorite__title {
    font-size: 32px;
  }
  .section__favorite .favorite__title .mark__word {
    position: static;
    display: inline;
  }
  .section__favorite .favorite__slider {
    max-width: 348px;
    min-height: 532px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__favorite .favorite__slider .favorite__button-prev,
  .section__favorite .favorite__slider .favorite__button-next {
    display: none;
  }
  .section__favorite .favorite__slider .slider-window .slider-line .favorite__slider-inner {
    max-width: 348px;
    height: 532px;
    min-height: 532px;
  }
  .section__favorite .favorite__slider .slider-window .slider-line .favorite__slider-inner .favorite__slider-img {
    width: 100%;
    max-height: 348px;
  }
  .section__favorite .favorite__slider .slider-window .slider-line .favorite__slider-inner .favorite__text-container {
    min-height: 164px;
  }
  .section__about .about__description {
    font-size: 32px;
  }
  .section__about .about__pictures {
    max-width: 348px;
  }
  .section__about .about__pictures .about__pictures-column {
    max-width: 348px;
  }
  .section__mobile-app {
    max-width: 348px;
  }
  .section__mobile-app .mobile__description {
    max-width: 348px;
    height: 380px;
  }
  .section__mobile-app .mobile__description .mobile__title {
    font-size: 32px;
  }
  .section__mobile-app .mobile__description .mobile__apps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 200px;
    min-height: 148px;
    gap: 20px;
  }
  .section__mobile-app .mobile__picure {
    margin-top: 40px;
    max-width: 100%;
    width: 348px;
  }
  .footer {
    max-width: 348px;
    height: 526px;
    min-height: 526px;
    padding: 60px 16px 60px 16px;
  }
  .footer .footer__description {
    max-width: 316px;
    min-height: auto;
  }
  .footer .footer__description .footer__text {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }
  .footer .footer__description .footer__text .mark__word {
    display: inline;
    font-size: 32px;
    position: static;
  }
  .footer .footer__description .footer__social {
    margin-top: 40px;
  }
  .footer .footer__contacts {
    margin-top: 40px;
  }
  .main {
    max-width: 348px;
  }
  .main .main__title {
    width: 100%;
    height: 120px;
    min-height: 120px;
    font-size: 32px;
  }
  .main .main__title .mark__word {
    font-size: 32px;
    display: inline;
    position: static;
  }
  .main .main__tabs {
    width: 345px;
    height: 46px;
    gap: 8px;
    margin-top: 40px;
  }
  .product__wrapper {
    max-width: 348px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal .modal__wrapper {
    width: 100%;
    max-width: 343px;
    padding: 16px;
    height: 626px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .modal .modal__wrapper .modal__img img {
    display: none;
  }
  .modal .modal__wrapper .modal__content {
    width: 310px;
    height: 594px;
    position: relative;
    bottom: 21px;
  }
  .modal .modal__wrapper .modal__content .modal__sum .modal__sum-tota {
    position: relative;
    right: -2px;
  }
  .modal .modal__wrapper .modal__content .modal__info-btn {
    width: 101%;
  }
}
@media (hover: hover) {
  .section__mobile-app .mobile__apps .button__mobile-app:hover, .section__mobile-app .mobile__apps .button__mobile-app.hovered {
    background-color: #665f55;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .section__mobile-app .mobile__apps .button__mobile-app:hover path, .section__mobile-app .mobile__apps .button__mobile-app.hovered path {
    fill: #e1d4c9;
    stroke: #665f55;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .section__mobile-app .mobile__apps .button__mobile-app:hover .button__mobile-title,
  .section__mobile-app .mobile__apps .button__mobile-app:hover .button__mobile-platform, .section__mobile-app .mobile__apps .button__mobile-app.hovered .button__mobile-title,
  .section__mobile-app .mobile__apps .button__mobile-app.hovered .button__mobile-platform {
    color: #e1d4c9;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
}

@media (max-width: 370px) {
  .main .main__tabs {
    width: 100%;
    max-width: 370px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    min-height: 154px;
  }
}