@import "normalize";
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #403f3d;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

body {
  background-color: #e1d4c9;
}

.container {
  // background: red;
  width: 1440px;
  margin: 0 auto;
  height: auto;
  padding: 20px 40px 40px 40px;
  overflow: hidden;
}

// header

.header {
  width: 100%;
  height: 60px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  a {
    img {
      width: 100px;
      height: 60px;
      // margin-top: 0px;
    }
  }
  nav {
    width: 456px;
    position: relative;

    .menu__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .menu__item {
        position: relative;
        bottom: 2px;
        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: -6px;
          display: block;
          width: 0;
          height: 2px;
          background: #403f3d;
          transition: 0.3s;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 100px;
        }
        &:hover:after {
          width: 100%;
        }
      }
    }
  }
  .menu__cup {
    display: hidden;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    position: relative;
    bottom: 2px;
    cursor: pointer;
    img {
      position: relative;
      bottom: 2px;
    }
    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -6px;
      display: block;
      width: 0;
      height: 2px;
      background: #403f3d;
      transition: 0.3s;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 100px;
    }
    &:hover:after {
      width: 100%;
    }

    .burger {
      display: none;
      width: 44px;
      height: 44px;
      border-radius: 100px;
      border: 1px solid #665f55;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 8px;
      position: relative;
      top: 2px;

      .burger-line {
        width: 16px;
        height: 1px;
        background: #403f3d;
        border-radius: 100px;
      }
    }

    .menu__link-active::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -6px;
      display: block;
      width: 100%;
      height: 2px;
      background: #403f3d;
      transition: 0.3s;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 100px;
      cursor: default;
    }
  }
  .menu__cup-active {
    cursor: default;
    .menu__link-active {
      cursor: default;
    }
    img {
      cursor: default;
    }
  }
}

// enjoy

.section__enjoy {
  min-height: 644px;
  margin-top: 20px;
  padding: 100px;
  border-radius: 40px;
  position: relative;
  overflow: hidden;

  .video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .enjoy__wrapper {
    max-width: 530px;
    min-height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    gap: 40px;
    .enjoy__title {
      font-size: 72px;
      font-weight: 600;
      line-height: 105%;
      color: #e1d4c9;
      font-style: normal;
      .mark__word {
        color: #b0907a;
        font-style: italic;
        display: inline-block;
        transform: skew(5deg);
        position: relative;
        right: 6px;
      }
    }
    .enjoy__description {
      color: #e1d4c9;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    .enjoy__button {
      position: relative;
      width: 200px;
      height: 64px;
      border-radius: 100px;
      background: #e1d4c9;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        opacity: 0;
        transition: 0.5s;
      }
      &:hover img {
        opacity: 1;
      }

      span {
        color: #403f3d;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        transform: translateX(10px);
        transition: 0.5s;
      }
      &:hover span {
        transform: translateX(-5px);
        transition: 0.5s;
      }
    }
  }
}

//favorite

.section__favorite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  min-height: 799px;
  gap: 40px;
  .favorite__title {
    color: #403f3d;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    .mark__word {
      font-style: italic;
      color: #b0907a;
      display: inline-block;
      transform: skew(5deg);
      position: relative;
      right: 5px;
    }
  }
  .favorite__slider {
    width: 100%;
    min-height: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .favorite__button-prev {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      border-radius: 100px;
      transition: 0.5s all;
      margin-left: 4px;

      &:hover path {
        stroke: #e1d4c9;
        transition: 0.5s all;
      }
      &:hover {
        background-color: #665f55;
        transition: 0.5s all;
      }
    }

    .favorite__button-next {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      border-radius: 100px;
      transition: 0.5s all;
      margin-right: 4px;

      &:hover path {
        stroke: #e1d4c9;
        transition: 0.5s all;
      }
      &:hover {
        background-color: #665f55;
        transition: 0.5s all;
      }
    }

    .favorite__slider-inner {
      width: 480px;
      height: 640px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .favorite__slider-img {
        width: 480px;
        height: 480px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .favorite__text-container {
        width: 100%;
        min-height: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        .favorite__text-title {
          color: #403f3d;
          text-align: center;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 125%;
        }
        .favorite__text-description {
          color: #403f3d;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
        .favorite__text-price {
          color: #403f3d;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 125%;
        }
      }
    }
  }
  .favorite__slider-indicators {
    width: 144px;
    height: 4px;
    display: flex;
    justify-content: center;
    gap: 12px;

    .slider__dot-indicator {
      width: 40px;
      height: 4px;
      background: #c1b6ad;
      border-radius: 100px;
      cursor: pointer;
    }
    .indicator-active {
      background: #665f55;
    }
  }
}

//about

.section__about {
  width: 100%;
  min-height: 1325px;
  // height: 1325px;
  margin-top: 100px;

  .about__description {
    color: #403f3d;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;

    .mark__word {
      color: #b0907a;
      font-style: italic;
      display: inline-block;
      transform: skew(5deg);
      position: relative;
      right: 4px;
    }
  }

  .about__pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
    align-items: center;
  }

  .about__pictures-column {
    width: 660px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
  }

  .about-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
    img {
      transition: 0.5s all;
    }
    & img:hover {
      transform: scale(0.91);
      transition: 0.5s all;
    }
  }

  .about-picture-small {
    height: 430px;
  }

  .about-picture-big {
    height: 590px;
  }
}

//mobile app

.section__mobile-app {
  width: 100%;
  min-height: 630px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mobile__description {
    width: 630px;
    height: 342px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;

    .mobile__title {
      color: #403f3d;
      font-size: 60px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
      .mark__word {
        color: #b0907a;
        font-style: italic;
        display: inline-block;
        transform: skew(5deg);
        position: relative;
        right: 5px;
      }
    }

    .mobile__text {
      color: #403f3d;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    .mobile__apps {
      width: 420px;
      height: 64px;
    }
  }

  .mobile__picure {
    width: 630px;
    height: 630px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  @mixin common-styles {
    overflow: hidden;
    cursor: pointer;

    &.hovered path {
      fill: #e1d4c9;
      stroke: #665f55;
      transition: 0.5s all;
    }

    &.hovered {
      background-color: #665f55;
      transition: 0.5s all;

      .button__mobile-title,
      .button__mobile-platform {
        color: #e1d4c9;
        transition: 0.5s all;
      }
    }
  }

  .mobile__apps {
    display: flex;
    width: 420px;
    height: 64px;
    justify-content: space-between;
    align-items: center;

    .button__mobile-app {
      @include common-styles;

      display: flex;
      justify-content: left;
      align-items: center;
      gap: 8px;
      width: 200px;
      height: 64px;
      border-radius: 100px;
      border: 1px solid #665f55;
      padding: 12px 20px;

      .button__mobile-logo {
        @include common-styles;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          max-width: 100%;
          height: auto;
        }
      }

      .button__mobile-description {
        @include common-styles;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2px;
        align-items: start;

        .button__mobile-title {
          color: #403f3d;
          text-align: center;
          font-size: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
        }

        .button__mobile-platform {
          color: #403f3d;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }
      }

      &:hover {
        @include common-styles;
        @extend .hovered;
      }
    }
  }
}

//button__refresh

.button__refresh {
  width: 60px;
  height: 60px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665f55;
  margin: 0 auto;
  margin-top: 40px;
}

//footer

.footer {
  margin-top: 100px;
  width: 100%;
  min-height: 450px;
  padding: 100px;
  border-radius: 40px;
  background: #665f55;
  display: flex;
  justify-content: space-between;

  .footer__description {
    width: 530px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;

    .footer__text {
      color: #e1d4c9;
      font-size: 60px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;

      .mark__word {
        color: #b0907a;
        display: inline-block;
        font-size: 60px;
        font-style: italic;
        font-weight: 600;
        line-height: 125%;
        position: relative;
        transform: skew(5deg);
        right: 4px;
      }
    }
    .footer__social {
      display: flex;
      gap: 12px;
      .footer__social-button {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        border: 1px solid #c1b6ad;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s all;

        &:hover path {
          stroke: #665f55;
          transition: 0.5s all;
        }
        &:hover {
          background-color: #e1d4c9;
          transition: 0.5s all;
        }
      }
    }
  }

  .footer__contacts {
    width: 530px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;

    .contact__title {
      color: #e1d4c9;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
    }

    .footer__contacts-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 116px;

      a,
      .time-text {
        display: flex;
        gap: 8px;
      }

      a {
        width: 182px;
        position: relative;
        bottom: 2px;
        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: -6px;
          display: block;
          width: 0;
          height: 2px;
          background: #e1d4c9;
          transition: 0.3s;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 100px;
        }
        &:hover:after {
          width: 100%;
        }
      }

      .footer__contacts-map,
      .footer__contacts-time,
      .footer__contacts-phone {
        color: #e1d4c9;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }
    }
  }
}

// *******MENU******

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  .main__title {
    color: #403f3d;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    width: 800px;
    min-height: 150px;
    .mark__word {
      color: var(--text-accent, #b0907a);
      font-size: 60px;
      font-style: italic;
      font-weight: 600;
      line-height: 125%;
      display: inline-block;
      transform: skew(5deg);
      position: relative;
      right: 6px;
    }
  }

  .main__tabs {
    width: 361px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
    cursor: pointer;

    .tab-item {
      height: 46px;
      padding: 8px 16px 8px 8px;
      border-radius: 100px;
      border: 1px solid #c1b6ad;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      transition: 0.5s;

      &:hover {
        background-color: #665f55;
        border: 1px solid #665f55;
        transition: 0.3s;

        .tab__text {
          color: #e1d4c9;
          transition: 0.3s;
        }

        .tab__pic-wrapper {
          background: #e1d4c9;
          transition: 0.3s;
        }
      }

      .tab__pic-wrapper {
        border-radius: 100px;
        background: var(--border-light, #c1b6ad);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .tab__text {
        color: #403f3d;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }
    }
    .tab-item-active {
      cursor: default;
      background-color: #665f55;
      border: 1px solid #665f55;
      transition: 0.3s;
      .tab__text {
        color: #e1d4c9;
        transition: 0.3s;
      }

      .tab__pic-wrapper {
        background: #e1d4c9;
        transition: 0.3s;
      }
    }
  }

  .product__wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    .product__card {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 310px;
      height: 506px;
      border-radius: 40px;
      border: 1px solid #c1b6ad;
      cursor: pointer;

      &:hover {
        img {
          transform: scale(0.9);
          transition: 0.5s all;
        }
      }

      & img {
        transition: 0.5s all;
      }
      .product__view {
        width: 310px;
        height: 310px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        object-fit: cover;
        border-radius: 40px;
      }
      .product__description-wrapper {
        // width: 270px;
        height: 196px;
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;

        .product__title {
          color: #403f3d;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 125%;
        }
        .product__description {
          color: #403f3d;
          height: 72px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          margin-top: 0px;
        }
        .product__price {
          color: #403f3d;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 125%;
        }
      }
    }
  }
}
